<html>

<head>
  <%- include('../../partials/head.ejs') %>
</head>

<body>
  <header>
    <%- include('../../partials/header.ejs') %>
  </header>
  <main>
    <div class="jumbotron">
      <div class="Click">
        <a href="/student/add" class="addClick size">ADD STUDENT</a>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">EmailId</th>
            <th scope="col">D0B</th>
            <th scope="col">Gender</th>
            <th scope="col">Course Name</th>
            <th scope="col">10th SchoolName</th>
            <th scope="col">12th SchoolName</th>
            <th scope="col">CreateAt</th>
            <th scope="col">UpdateAt</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% for(i=0; i< result.length; i++) { %>
            <tr>
              <td scope="row">
                <%=i+1 %>
              </td>
              <td>
                <%=result[i].name %>
              </td>
              <td class="eId" title="emailId">
                <%=result[i].emailId %>
              </td>
              <td>
                <%=result[i].DOB %>
              </td>
              <td>
                <%=result[i].gender %>
              </td>
              <td>
                <%=result[i].courseName %>
              </td>
              <td>
                <%=result[i].tenthSchool %>
              </td>
              <td>
                <%=result[i].twelfthSchool %>
              </td>
              <td>
                <%=result[i].createAt %>
              </td>
              <td>Null</td>
              <td>
                <div class="editDel">
                  <div class="editAction size">
                    <a href="/student/<%=result[i].id %>">Edit</a>
                  </div>
                  <div class="editAction size">
                    <a class="pointer" onClick="deleteStudent(<%=result[i].id %>)">Delete</a>
                  </div>
                </div>
              </td>
            </tr>
            <% } %>
        </tbody>
      </table>
    </div>
  </main>
  <script>
    function deleteStudent(studentId) {
      var result = confirm ('are you sure you want to delete?')

      if (!result)
      return

      const requestOptions = {
        method: "DELETE",
      };

    fetch("http://localhost:2000/api/student/" + studentId, requestOptions)
      .then((response) => response.text())
      .then((result) => {
        window.location = '/student'
      })
      .catch((error) => console.error(error))
    }
  </script>
  <footer>
    <%- include('../../partials/footer.ejs') %>
  </footer>
</body>

</html>