<html>

<head>
    <%- include('../../partials/head.ejs') %>
</head>

<body>
    <header>
        <%- include('../../partials/header.ejs') %>
    </header>
    <main>
        <div class="jumbotron">
            <div class="Click">
                <a href="/school/add" class="addClick size">ADD SCHOOL</a>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">id</th>
                        <th scope="col">name</th>
                        <th scope="col">place</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <% for(i=0; i< result.length; i++) { %>
                        <tr>
                            <td scope="row">
                                <%=i+1 %>
                            </td>
                            <td>
                                <%=result[i].name %>
                            </td>
                            <td>
                                <%=result[i].place %>
                            </td>
                            <td>
                                <div class="editDel">
                                    <div class="editAction size">
                                        <a href="/school/<%=result[i].id %>">Edit</a>
                                    </div>
                                    <div class="editAction size">
                                        <a class="pointer" onClick="deleteSchool(<%=result[i].id %>)">Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </main>
    <script>
        function deleteSchool(schoolId) {
            result = confirm  ('are you sure you want to delete?')

            if (!result)
            return

            const requestOptions = {
                method: "DELETE",
            };

            fetch("http://localhost:2000/api/school/" + schoolId, requestOptions)
                .then((response) => response.text())
                .then((result) => {
                    window.location = '/school'
                })
                .catch((error) => console.error(error));
        }
    </script>
    <footer>
        <%- include('../../partials/footer.ejs') %>
    </footer>
</body>

</html>