<html>

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <p>Total Student: <%=totalStudent %></p>
            <p>Total Course: <%=totalCourse %></p>
            <p>Total School: <%=totalSchool %></p>


        </div>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>

</html>